1 / 2
Prototype 2
Advanced Architectural Structure
1. Objective
The objective of the second delivery of the project is to redesign the architecture and generate a second
prototype of the software system developed as a project.
2. Requirements
2.1. Functional Requirements
The functional completeness for the software system must be defined by the team.
2.2. Non-Functional Requirements
The software system must follow a distributed architecture.
The software system must include at least two different presentation-type components (one of
them: web front-end).
The web front-end must follow an SSR (Server-Side Rendering) subarchitecture.
The software system must include at least four logic-type components.
The software system must include at least one component that allows
communication/orchestration between the logical components.
The software system must include at least four data-type components (including relational and
NoSQL databases).
The sofwtare system must include at least one component that is responsible for handling
asynchronous processes within the system.
The software system must include a set of HTTP-based connectors.
The software system must be built using at least four different general-purpose programming
languages.
The deployment of the software system must be container-oriented.

2 / 2
3. Delivery
3.1. Artifact
Team
Name (1a, 1b, ..., 2a, 2b, ...)
Full names of the team members.
Software System
Name
Logo
Description
Architectural Structures
Component-and Connector (C&C) Structure
C&C View
Description of architectural elements and relations.
Description of architectural styles and patterns used.
Deployment Structure
Deployment View
Description of architectural elements and relations.
Description of architectural patterns used.
Layered Structure
Layered View
Description of architectural elements and relations.
Description of architectural patterns used.
Decomposition Structure
Decomposition View
Description of architectural elements and relations.
Prototype
Instructions for deploying the software system locally.
3.2. Submission Format
The deliverable must be submitted via GitHub
Steps:
Use the branch prototype_2.
In the folder project/, create an X folder (where X = the team name [1a, 1b, ..., 2a,2b, ...]), 
which must include:
The artifact in a README.md file.
The files that may be necessary for deploying the software system locally.