PORT=8080
USER_SERVICE_URL=http://localhost:4000
SCRAPPER_SERVICE_URL=http://localhost:5000
REDIS_URL=redis://localhost:6379
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_QUEUE=game_prices_queue
