PORT=8000
FIREBASE_PROJECT_ID=planio-social-todo

# URLs internas de los servicios (dentro de la red Docker)
ACTIVITY_SERVICE_URL=http://activity_service:8001
NOTIFICATION_SERVICE_URL=http://notification_service:8002
PERSONALIZATION_SERVICE_URL=http://personalization_service:8003
